<title>Profile</title>
{% include 'index.html' %}
<div class="container-fluid text-center text-white">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show custom-alert text-center" role="alert">
        {% for message in messages %}
        <p class="mb-0">{{ message }}</p>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endwith %}
    <h1 class="display-4 text-dark mb-4">Welcome, {{ current_user.username }}</h1>
    <div class="row">
        <div class="col-md-8">
            <!-- Form for uploading image -->
            <div class="d-flex justify-content-center align-items-center">
                <form action="{{ url_for('main.upload_image') }}" method="post" enctype="multipart/form-data"
                    class="w-75">
                    <div class="form-group text-center">
                        <label for="image" class="text-muted fs-5">Upload Image</label>
                        <input type="file" class="form-control-file text-black-50 mt-2" id="image" name="image">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Upload</button>
                </form>
            </div>
            <!-- Display user's images if available -->
            {% if user_images %}
            <div class="image-container mt-4">
                {% for image in user_images %}
                <img src="{{ url_for('main.get_image', image_id=image.id) }}" alt="{{ image.filename }}"
                    class="img-fluid rounded" style="width: 350px; height: 200px; object-fit: cover;">
                {% endfor %}
            </div>
            {% else %}
            <p class="mt-4">No images uploaded for the current user.</p>
            {% endif %}
        </div>
        <div class="col-md-4">
            <form class="mx-auto" id="logoutForm" action="{{ url_for('auth.logout') }}" method="post">
                <h4 class="text-center text-muted fs-10">Logout</h4>
                <button type="submit" class="btn btn-primary mt-3">Logout</button>
            </form>
        </div>
    </div>
</div>