<title>Profile</title>
{% include 'index.html' %}
<div class="container-fluid text-center text-white">
    <div class="row">
        <div class="col-md-8">
            {% for user in result %}
            <div class="mb-3">
                <h1>{{ user.username }}</h1>
                <h3>{{ user.email }}</h3>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <form class="mx-auto" id="logoutForm" action="/logout" method="post">
                <h4 class="text-center">Logout</h4>
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
    </div>
</div>