{% include 'index.html' %}

<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show custom-alert text-center" role="alert">
        {% for message in messages %}
        <p class="mb-0">{{ message }}</p>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endwith %}
    <form class="mx-auto" id="resetPasswordForm" action="{{ url_for('reset_password', token=token) }}" method="post">
        <h4 class="text-center">Reset Password</h4>
        <div class="mb-3 mt-4">
            <label for="newPassword">New Password</label>
            <input type="password" name="new_password" id="new_password" class="form-control" placeholder="Enter your new password" required>
        </div>
        <div class="mb-3 mt-4">
            <label for="confirmNewPassword">Confirm New Password</label>
            <input type="password" name="confirm_new_password" id="confirm_new_password" class="form-control" placeholder="Confirm your new password" required>
            <p id="passwordMatchError" style="color: red; display: none;">Passwords do not match</p>
        </div>
        <button type="submit" id="resetSubmit" class="btn btn-primary" style="display: none;">Submit</button>
        <div id="dummyResetSubmit" class="btn btn-primary" style="cursor: not-allowed;">Submit</div>
    </form>

    <script>
        function validatePassword() {
            var newPassword = document.getElementById("new_password").value;
            var confirmNewPassword = document.getElementById("confirm_new_password").value;
            var errorElement = document.getElementById("passwordMatchError");
            var resetSubmitButton = document.getElementById("resetSubmit");
            var dummyResetSubmitButton = document.getElementById("dummyResetSubmit");

            if (newPassword !== confirmNewPassword || newPassword.length === 0 || confirmNewPassword.length === 0) {
                errorElement.style.display = "block";
                dummyResetSubmitButton.style.display = "block";
                resetSubmitButton.style.display = "none";
                dummyResetSubmitButton.style.cursor = "not-allowed";
            } else {
                errorElement.style.display = "none";
                resetSubmitButton.style.display = "block";
                dummyResetSubmitButton.style.display = "none";
                dummyResetSubmitButton.style.cursor = "pointer";
            }
        }

        // Call validatePassword function on input change
        document.getElementById("confirm_new_password").addEventListener("input", validatePassword);
    </script>
</div>
